KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS = \
  arch/i386/boot.o \
  arch/i386/tty.o \
  arch/i386/cpu/gdt.o \
  arch/i386/cpu/idt.o \
  arch/i386/cpu/isr.o \
  arch/i386/cpu/ssp.o \
  arch/i386/interrupts/interrupts.o \
  arch/i386/dev/pic.o \
  arch/i386/dev/timer.o \
  arch/i386/dev/keyboard.o \
  arch/i386/gdt_flush.o \
  arch/i386/idt_load.o \
  arch/i386/isr_stubs.o \
  arch/i386/mm/pmm.o \
  arch/i386/shell/cmd_mem.o \
  arch/i386/shell/multiboot_1.o \
  arch/i386/dev/vga.o \
  arch/i386/interrupts/page_fault.o \
  arch/i386/mm/paging.o \
  arch/i386/mm/heap.o \
  arch/i386/shell/cmd_alloc.o \
  arch/i386/boot/multiboot_modules.o \
  arch/i386/fs/initrd_tar.o \
  arch/i386/fs/initrd_vfs.o \
  arch/i386/fs/vfs.o